[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 120
target-version = ["py38"]
exclude = "geneve/kql|tests/kuery|tests/reports"

[tool.isort]
profile = 'black'
skip = ["geneve/kql", "tests/kuery", "tests/reports"]
